* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
