:root {
  --dark-purple: #2a2141;
  --gray-600: #a5a2b0;
  --gray-500: #e1e1e6;
  --gray-400: #c4c4cc;
  --gray-300: #d9d9d9;
}

body {
  background-color: var(--dark-purple);
  height: 100vh;
}

.container {
  padding: 28px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-info {
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.cover-image {
  height: 84px;
  width: 84px;
  border-radius: 10px;
}

.music-name {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--gray-500);
  margin-bottom: 10px;
}

.band-name {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--gray-600);
}

.controls {
  width: 100%;
  max-width: 191px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.controls i {
  cursor: pointer;
  font-size: 28px;
  color: var(--gray-500);
}

.player-time-info {
  width: 100%;
  max-width: 280px;
  position: relative;
}

#seekbar {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #5e586f;
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#progress-bar {
  height: 6px;
  border-radius: 12px;
  background: var(--gray-300);
  position: absolute;
  top: 9px;
  left: 0;
}

#seekbar:hover {
  opacity: 1;
}

#seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 6px;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  z-index: 1;
}

#seekbar::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: transparent;
  cursor: pointer;
}

.time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--gray-600);
}

#created-by {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  user-select: none;
  color: var(--dark-purple);
}

#os-modal-alert {
  display: none;
}

#os-modal-alert.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.content {
  margin: 16px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.content h3,
.content a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
}

#button-close {
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 16px;
  color: white;
  font-weight: bold;
  background-color: var(--dark-purple);
  align-self: flex-end;
}

@media (max-width: 576px) {
  .cover-image {
    height: 191px;
    width: 191px;
    margin-bottom: 16px;
  }

  .details {
    max-width: 320px;
    margin: 0 auto;
  }

  .band-name {
    font-size: 1.125rem;
  }

  .controls {
    justify-content: space-between;
    gap: 12px;
    max-width: 320px;
    margin: 16px 0;
  }

  .player-time-info {
    width: 100%;
    max-width: 320px;
  }
}
